.panel-heading {
    background-color: rgb(49, 96, 181);
}

.panel-title {
    color: rgb(86, 165, 238);
}

.wordsPanel {
    color: white;
    font-size: smaller;
}

.noResults {
    color: red!important;
}

.arrow-down:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid red;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}